spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: username
    password: password
  ai:
    vectorstore:
      pgvector:
        index-type: HNSW
        distance-type: COSINE_DISTANCE
        dimensions: 384
    embedding:
      transformer:
        metadata-mode: NONE
        onnx:
          modelUri: https://huggingface.co/intfloat/multilingual-e5-small/resolve/main/onnx/model.onnx
        tokenizer:
          uri: https://huggingface.co/intfloat/multilingual-e5-small/resolve/main/onnx/tokenizer.json
          options:
            maxLength: 512
            padding: true
            truncation: true
  threads:
    virtual:
      enabled: true

  security:
    oauth2:
      client:
        registration:
          bokbasen:
            provider: auth0
            client-id: "<>"
            client-secret: "<>"
            authorization-grant-type: client_credentials
        provider:
          auth0:
            token-uri: https://login.bokbasen.io/oauth/token

  mvc:
    problemdetails:
      enabled: true

server:
  port: 8080

springdoc:
  paths-to-match: /api/**

default-locale: nb
default-limit: 30
reciprocal-rank-fusion:
  semantic-search-weight: 0.5
  full-text-search-weight: 0.5
  keyword-full-text-search-weight: 0.7
  keyword-semantic-search-weight: 0.3

scheduler:
  enabled: true
  initial-delay-millis: 5000
  fixed-delay-millis: 500
  backoff-seconds: 60

harvesting:
  bibbi:
    gateways:
      - enabled: false
        service-uri: https://bibliografisk.bs.no/v1/publications/harvest
        ttl: 5
        mapper: default
        limit: 100
        query: type:(audiobook OR book)

  oai-pmh:
    gateways:
      - enabled: false
        service-uri: https://oai.aja.bs.no/mlnb
        ttl: 5
        mapper: default
        verb: ListRecords
        metadata-prefix: marc21
        set:

  bokbasen:
    audience: https://api.bokbasen.io/metadata/
    client: bokbasen
    gateways:
      - enabled: false
        service-uri: https://api.bokbasen.io/metadata/export/onix/v2
        after: 19700101090000
        mapper: default
        pagesize: 100
