<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BookQuest :: A Hybrid Search Engine for Books</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/missing.css/1.1.3/dist/missing.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/bookquest.css}">
</head>
<body>
<div class="container">
    <!-- Language -->
    <div class="language-picker">
        <form th:action="@{/change-language}" method="get">
            <div class="custom-select">
                <select name="lang" onchange="this.form.submit()" aria-label="Choose language">
                    <option th:value="en" th:selected="${#locale.language == 'en'}">English</option>
                    <option th:value="nb" th:selected="${#locale.language == 'nb'}">Bokmål</option>
                </select>
                <i class="fa fa-chevron-down"></i>
            </div>
        </form>
    </div>
    <!-- Search -->
    <div class="search-form">
        <form th:action="@{/search}" method="get">
            <div class="input-container">
                <input type="search" name="query" th:value="${query}" autofocus aria-label="Enter search query"/>
                <button type="submit" class="search-icon-button" aria-label="Submit search">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
    </div>
    <!-- Results -->
    <div class="results">
        <div th:if="${#lists.size(results) > 0}">
            <div th:each="book, iter : ${results}" class="result-item">
                <p><strong th:text="${book.title + ' (' + book.publishedYear + ')'}"></strong>
                    <span th:if="${book.bookFormat != null}" class="format-label">
                        <span th:text="${book.bookFormat}"></span>
                    </span>
                </p>
                <img th:src="${book.thumbnailUrl != null ? book.thumbnailUrl : 'fallback.png'}"
                     th:alt="${book.title}" loading="lazy"/>
                <p th:if="${book.contributors != null and !book.contributors.isBlank()}">
                    <span th:text="${book.contributors}"></span>
                </p>
                <p th:if="${book.contributors == null or book.contributors.isBlank()}">
                    <span th:text="#{contributors}"></span>
                </p>
                <p th:if="${book.description != null}">
                    <span th:text="${book.description}"></span>
                </p>
                <details>
                    <summary th:text="#{details}"></summary>
                    <table class="details-table">
                        <tr th:if="${book.isbn != null}">
                            <td><strong th:text="#{isbn}"></strong></td>
                            <td th:text="${book.isbn}"></td>
                        </tr>
                        <tr th:if="${book.languages != null and !book.languages.isBlank()}">
                            <td><strong th:text="#{language}"></strong></td>
                            <td th:text="${book.languages}"></td>
                        </tr>
                        <tr th:if="${book.publisher != null}">
                            <td><strong th:text="#{publisher}"></strong></td>
                            <td th:text="${book.publisher}"></td>
                        </tr>
                        <tr th:if="${book.about != null and !book.about.isBlank()}">
                            <td><strong th:text="#{about}"></strong></td>
                            <td th:text="${book.about}"></td>
                        </tr>
                        <tr th:if="${book.genreAndForm != null and !book.genreAndForm.isBlank()}">
                            <td><strong th:text="#{genreAndForm}"></strong></td>
                            <td th:text="${book.genreAndForm}"></td>
                        </tr>
                    </table>
                </details>
                <hr th:if="${!iter.last}"/>
            </div>
        </div>
        <div th:if="${#lists.size(results) == 0}">
            <p th:text="#{results}"></p>
        </div>
    </div>
</div>
</body>
</html>